@charset "UTF-8";
/*!
 * ress.css • v1.1.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,"Helvetica Neue", "Segoe UI","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #59414C;
}

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100vw;
  height: 10vh;
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 0;
  z-index: 100;
}

.bg {
  width: 100vw;
  height: 100vh;
  background: url(../img/index_image.png) center/cover no-repeat;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
}

h1 {
  margin-left: 40px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 120px;
  height: 100%;
}

h1 img {
  width: 67px;
  height: 55px;
}

.gnavi_flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.flex li {
  text-align: center;
  height: 40px;
  width: 130px;
  /* width: 100px; */
}

.flex li a {
  color: #59414C;
  text-decoration: none;
  /* font-size: 1.5rem; */
  /* height: 100%;
     width: 100%;
     display: block;
     background: #FF8EB1;
     border-radius: 50px; */
}

.li_h {
  padding: 10px;
}

.btn_login {
  height: 40px;
  width: 130px;
}

#btn_login_a {
  height: 100%;
  width: 100%;
  display: block;
  background: #FF8EB1;
  border-radius: 50px;
  padding: 10px;
  box-shadow: #e6e6e6 0px -3px 0px inset;
  color: white;
}

footer {
  width: 100%;
  height: 1000px;
  background: url(../img/font.png) center bottom no-repeat;
  background-size: contain;
  position: relative;
}

.footer_flex {
  width: 900px;
  height: 75px;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.footer_flex ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
}

.footer_flex ul li {
  width: 200px;
  text-align: center;
  font-size: 1.4rem;
}

.footer_flex ul li a {
  text-decoration: none;
  color: white;
}

footer p {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

body {
  background-color: #fdedf1;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.title {
  width: 510px;
  height: 140px;
  background-image: url(../img/logo_back.svg);
  position: relative;
  margin: 0 auto;
  margin-top: 15vh;
}

h2 {
  font-family: ab-suzume, sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  line-height: 140px;
}

.serach {
  margin-top: 90px;
  width: 400px;
  display: flex;
  position: relative;
}

.serach input {
  width: 100%;
  height: 100%;
  display: block;
  padding: 11px 0;
  padding-left: 50px;
  border-radius: 19px;
  background-color: #fff;
  font-size: 1.6rem;
  color: #59414C;
}

.serach input:focus {
  outline: none;
}

.serach .search_left {
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(../img/search_icon.svg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  margin: auto 0;
}

.serach .search_right {
  position: absolute;
  right: 0;
  width: 72px;
  height: 100%;
  background: #ff8eb1;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.serach .search_right::after {
  content: "検索";
  font-size: 1.6rem;
  color: #fff;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 18px;
  margin: 0 auto;
}

.tagWrap {
  display: flex;
  margin-top: 32px;
}

.tagWrap .tag {
  background-color: #acdd9a;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  position: relative;
}

.tagWrap .tag p {
  color: #fff;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px;
}

.tagWrap .tag img {
  position: absolute;
  top: 4px;
  right: 7px;
}

.tagWrap .tag::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #acdd9a;
  transform: rotate(45deg) translateY(-5px) translateX(-10px);
  border-radius: 5px;
}

.tagWrap .tag:last-child {
  margin-left: 24px;
}

.tagWrap .tag:last-child::after {
  display: none;
}

.postWrap {
  width: 70%;
  background-color: #fff;
  margin-top: 24px;
  border-radius: 10px;
  padding: 32px;
  position: relative;
}

.postWrap section h3 {
  cursor: pointer;
  font-size: 2rem;
  color: #ff8eb1;
  display: inline-block;
  margin-top: 10px;
  height: 30px;
}

.postWrap section h3:hover {
  text-decoration: underline;
  color: #551A8B;
}

.postWrap section p {
  margin-top: 12px;
  opacity: 0.6;
  font-size: 1.4em;
}

.postWrap .solved {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 77px;
  height: 77px;
}

.postWrap .solved img {
  width: 100%;
  height: 100%;
}

.dateWrap {
  display: flex;
  font-size: 1.6rem;
  color: #59414c;
  margin-bottom: 5px;
}

.dateWrap_bday {
  padding-right: 40px;
}

.dateWrap_tag {
  opacity: 0.6;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.dateWrap_tag::before {
  content: "";
  display: block;
  height: 18px;
  width: 20px;
  background: url(../img/tag.svg) no-repeat;
  margin-left: 10px;
}

.dateWrap_com {
  padding-left: 120px;
  display: flex;
  align-items: center;
}

.dateWrap_com::after {
  content: "";
  display: block;
  height: 18px;
  width: 20px;
  background: url(../img/ball.svg) no-repeat;
  margin-left: 10px;
}

.profFlex {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}

.profWrap {
  display: flex;
  align-items: center;
}

.profWrap p {
  margin-left: 16px;
}

.commentWrap {
  display: flex;
  align-items: center;
  margin-left: 112px;
}

.commentWrap time {
  margin-left: 16px;
}

.pageBtn {
  width: 750px;
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

.pageBtn p {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  border-radius: 7px;
  background-color: #ffccd9;
  font-size: 1.6em;
  margin: 0 4px;
}

.pageBtn p:nth-child(2) {
  background-color: #ff8eb1;
}

.pageBtn p a {
  display: block;
}

.pageBtn p a:link, .pageBtn p a:visited {
  color: #fff;
  text-decoration: none;
}

.bannerWrap {
  width: 200px;
  position: absolute;
  top: 300px;
  right: 0;
}

.postBtn {
  background-color: #ff8eb1;
  width: 250px;
  height: 50px;
  border-radius: 25px;
}

.postBtn a {
  width: 100%;
  height: 100%;
  display: block;
  letter-spacing: 3px;
  font-size: 1.4em;
  text-align: center;
  line-height: 50px;
  font-weight: 100;
}

.postBtn a:visited, .postBtn a:link {
  color: #fff;
  text-decoration: none;
}

.banner1 {
  width: 250px;
  margin-top: 24px;
}

.banner1 a {
  display: block;
  width: 100%;
}

.banner1 a img {
  width: 100%;
}

.banner2 {
  width: 250px;
  margin-top: 16px;
}

.banner2 a {
  display: block;
  width: 100%;
}

.banner2 a img {
  width: 100%;
}

.postTag {
  width: 250px;
  height: 380px;
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 10px;
}

.postTag > h4 {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 16px;
  color: #acdd9a;
}

.postTag ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.4rem;
  color: #59414c;
  width: 230px;
  height: 330px;
  margin: 0 auto;
  padding-top: 25px;
}

.postTag ul li {
  width: 50%;
  height: 10%;
  list-style: none;
  text-align: left;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
}

.postTag ul li::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 16px;
  height: 16px;
  display: block;
  background: url(../img/post_tag.png);
}

.postDoctor {
  width: 250px;
  height: 230px;
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.postDoctor img {
  width: 97px;
  height: 78px;
  margin-top: 24px;
}

.postDoctor > h4 {
  font-size: 1.6rem;
  text-align: center;
  color: #acdd9a;
}

.postDoctor > h4 img {
  width: 9px;
  height: 10px;
  padding-left: 4px;
}

.postDoctor p {
  width: 100%;
  padding-top: 16px;
  font-size: 1.6rem;
}
