// registration.pug   input_bar
@mixin input {
  width: 496px;
  height: 48px;
  margin-top: 27px;
  margin-bottom: 70px;
  border: 1px solid #707070; 
  font-size: 1.4rem;
  padding-left: 20px;
}

// login.php
@mixin btn {
  width: 100%;
  height: 41px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 41px;
  margin-top: 40px;
  margin-bottom: 28px;
}

// homepage.html
@mixin btn_homepage {
  width: 320px;
  height: 60px;
  margin: 40px auto 0;

  a {
    width: 100%;
    height: 100%;
    display: block;
    background: #acdd9a;
    border-radius: 20px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    transition: 0.3s;
    box-shadow: 0px 3px 3px #b0b0b0;

    &:hover{
      background: #a0c594;
    }
  }
}

//board.html  ".dateWrap"
.dateWrap {
  display: flex;
  font-size: 1.6rem;
  color: $textColor;
  margin-bottom: 5px;
  &_bday{
    padding-right: 40px;
  }
  &_tag{
    opacity: 0.6;
    padding-right: 10px;
    display: flex;
    align-items: center;
    &::before{
      content: "";
      display: block;
      height: 18px;
      width: 20px;
      background: url(../img/tag.svg) no-repeat;
      margin-left: 10px;
    }
  }
  &_com{
    padding-left: 120px;
    display: flex;
    align-items: center;
    &::after{
      content: "";
      display: block;
      height: 18px;
      width: 20px;
      background: url(../img/ball.svg) no-repeat;
      margin-left: 10px;
    }
  }
}





@mixin fullSize($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

@mixin link($color: $textColor) {
  color: $color;
  text-decoration: none;
}
