.title {
     width: 510px;
     height: 140px;
     background-image: url(../img/logo_back.svg);
     position: relative;
     margin: 0 auto;
     margin-top: 15vh;
   }
   h2 {
     font-family: $suzume;
     font-size: 3em;
     font-weight: 100;
     text-align: center;
     line-height: 140px;
   }

.serach {
     margin-top: 90px;
     width: 400px;
     display: flex;
   
     //  検索ボタン
     position: relative;
     input {
       @include fullSize;
       display: block;
       padding: 11px 0;
       padding-left: 50px;
       border-radius: 19px;
       background-color: #fff;
       font-size: 1.6rem;
       color: #59414C;
       &:focus{
         outline: none;
       }
     }
     .search_left {
       display: block;
       width: 21px;
       height: 21px;
       background-image: url(../img/search_icon.svg);
       position: absolute;
       top: 0;
       bottom: 0;
       left: 16px;
       margin: auto 0;
     }
   
     .search_right{
       position: absolute;
       right: 0;
       width: 72px;
       height: 100%;
       background: $mainColor;
       border-radius: 0 10px 10px 0;
       cursor: pointer;
   
       &::after{
         content: "検索";
         font-size: 1.6rem;
         color: #fff;
         position: absolute;
         top: 12px;
         bottom: 0;
         left: 18px;
         margin: 0 auto;
       }
     }
   }