@import "ress";
@import "common";
@import "_var";
@import "_mixin";
@import "header";
@import "footer";  
 
body {
  background-color: $bgColor;
  font-weight: 600;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

// タイトル
.title {
  width: 510px;
  height: 140px;
  background-image: url(../img/logo_back.svg);
  position: relative;
  margin: 0 auto;
  margin-top: 15vh;
}
h2 {
  font-family: $suzume;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  line-height: 140px;
}

// コンテンツ

.serach {
  margin-top: 90px;
  width: 400px;
  display: flex;

  //  検索ボタン
  position: relative;
  input {
    @include fullSize;
    display: block;
    padding: 11px 0;
    padding-left: 50px;
    border-radius: 19px;
    background-color: #fff;
    font-size: 1.6rem;
    color: #59414C;
    &:focus{
      outline: none;
    }
  }
  .search_left {
    display: block;
    width: 21px;
    height: 21px;
    background-image: url(../img/search_icon.svg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto 0;
  }

  .search_right{
    position: absolute;
    right: 0;
    width: 72px;
    height: 100%;
    background: $mainColor;
    border-radius: 0 10px 10px 0;
    cursor: pointer;

    &::after{
      content: "検索";
      font-size: 1.6rem;
      color: #fff;
      position: absolute;
      top: 12px;
      bottom: 0;
      left: 18px;
      margin: 0 auto;
    }
  }
}
//  __検索ボタン

// タブ
.tagWrap {
  display: flex;
  margin-top: 32px;
  .tag {
    background-color: $green;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    p {
      color: #fff;
      text-align: center;
      line-height: 50px;
      letter-spacing: 3px;
    }
    img {
      position: absolute;
      top: 4px;
      right: 7px;
    }
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-color: $green;
      transform: rotate(45deg) translateY(-5px) translateX(-10px);
      border-radius: 5px;
    }
    &:last-child {
      margin-left: 24px;
      &::after {
        display: none;
      }
    }
  }
}

// コンテンツ
.postWrap {
  width: 70%;
  // cursor: pointer;
  background-color: #fff;
  margin-top: 24px;
  border-radius: 10px;
  padding: 32px;
  position: relative;
  section {
    h3 {
      cursor: pointer;
      font-size: 2rem;
      color: $mainColor;
      display: inline-block;
      margin-top: 10px;
      height: 30px;
      &:hover{
        text-decoration: underline;
        color: #551A8B;
      }  
    }
    p {
      margin-top: 12px;
      opacity: 0.6;

      font-size: 1.4em;
    }
  }
  .solved {
    position: absolute;
    top: 8px;
    right: 15px;
    width: 77px;
    height: 77px;
    img {
      @include fullSize; 
    }
  }
}

.dateWrap {
  display: flex;
  font-size: 1.6rem;
  color: $textColor;
  margin-bottom: 5px;
  &_bday{
    padding-right: 40px;
  }
  &_tag{
    opacity: 0.6;
    padding-right: 10px;
    display: flex;
    align-items: center;
    &::before{
      content: "";
      display: block;
      height: 18px;
      width: 20px;
      background: url(../img/tag.svg) no-repeat;
      margin-left: 10px;
    }
  }
  &_com{
    padding-left: 120px;
    display: flex;
    align-items: center;
    &::after{
      content: "";
      display: block;
      height: 18px;
      width: 20px;
      background: url(../img/ball.svg) no-repeat;
      margin-left: 10px;
    }
  }
}

.profFlex {
  display: flex;
  align-items: center;
  font-size: 1.4em;
}
.profWrap {
  display: flex;
  align-items: center;
  p {
    margin-left: 16px;
  }
}
.commentWrap {
  display: flex;
  align-items: center;
  margin-left: 112px;
  time {
    margin-left: 16px;
  }
}

// ボタン
.pageBtn {
  width: 750px;
  display: flex;
  justify-content: center;

  margin-top: 23px;
  p {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    border-radius: 7px;
    background-color: #ffccd9;
    font-size: 1.6em;
    margin: 0 4px;
    &:nth-child(2) {
      background-color: $mainColor;
    }
    a {
      display: block;
      &:link,
      &:visited {
        @include link(#fff);
      }
    }
  }
}

// バナー
.bannerWrap {
  width: 200px;
  position: absolute;
  top: 300px;
  right: 0;
}

.postBtn {
  background-color: $mainColor;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  a {
    @include fullSize;
    display: block;
    letter-spacing: 3px;
    font-size: 1.4em;
    text-align: center;
    line-height: 50px;
    font-weight: 100;
    &:visited,
    &:link {
      color: #fff;
      text-decoration: none;
    }
  }
}

.banner1 {
  width: 250px;
  margin-top: 24px;
  a {
    display: block;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.banner2 {
  width: 250px;
  margin-top: 16px;
  a {
    display: block;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.banner3{
  width: 250px;
  height: 380px;
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 10px;
  
  & > h4{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 16px;
    color: $green;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.4rem;
    color: $textColor;
    width: 230px;
    height: 330px;
    margin: 0 auto;
    padding-top: 25px;

    li{
      width: 50%;
      height: 10%;
      list-style: none;
      text-align: left;
      padding-left: 50px;
      cursor: pointer;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        left: 20px;
        width: 16px;
        height: 16px;
        display: block;
        background: url(../img/post_tag.png);
      }
    }
  }
}

// 個別相談
.postDoctor{
  width: 250px;
  height: 230px;
  margin-top: 24px;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

  img{
    width: 97px;
    height: 78px;
    margin-top: 24px;
  }

  & > h4{
    font-size: 1.6rem;
    text-align: center;
    color: $green;

    img{
      width: 9px;
      height: 10px;
      padding-left: 4px;
    }
  }

  p{
    width: 100%;
    padding-top: 16px;
    font-size: 1.6rem;
  }
}

// .doctorBtn {
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   background-color: #fff;
//   border: 1px solid $green;
//   margin: 0 auto;
//   margin-top: 70px;
//   position: relative;

//   a {
//     @include fullSize;

//     font-size: 1.6em;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     margin: auto;
//     width: 64px;
//     height: 50px;
//     text-align: center;
//     &:visited,
//     &:link {
//       color: $green;
//       text-decoration: none;
//     }
//   }
//   &::before {
//     content: "";
//     width: 49px;
//     height: 76px;
//     position: absolute;
//     right: 0;
//     top: -48px;
//     background-image: url(../img/doctor_man.svg);
//     background-size: cover;
//     z-index: -1;
//   }
// }
