.bannerWrap 
        .postBtn 
          a(href="") 悩みを相談する
        .banner1 
          a(href="#")
            img(src="img/column_banner.svg", alt="") 
        .banner2
          a(href="#")
            img(src="img/app_banner.svg", alt="") 

        //-タグ
        .banner3
          h4 タグから探す
            .postTag_flex   
              ul 
                li 妊娠
                li 母子家庭
                li 出産
                li 堕胎
                li 妊娠
                li 母子家庭
                li 出産
                li 堕胎
                li 妊娠
                li 母子家庭
                li つわり
                li ピル
                li 生理
                li 生理
                li つわり
                li ピル
                li つわり
                li 妊娠
                li つわり
                li ピル

          //-個別相談
          .postDoctor
            img(src="img/post_doctor.png", alt="")
            h4 医師に個別で相談する
              span.tri_right
                img(src="img/doctor_dropright.png", alt="")
            p 
             |掲示板がハードルが高い方は
             br
             |医師と個別でお話できます。