

footer
    .footer_flex
        ul
            li 
                a(href='board.html') 掲示板を見る
            li  
                a(href='') 診断する
            li 
                a(href='') アプリについて
            li  
                a(href='') 婦人科の状況を見る
            li 
                a(href='') お問合わせ
    p &copy;Rupinasu All Rights Reserved. 

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>