header
        h1.logo
          a(href='homepage.html') 
            img(src='img/logo.png' alt='logo')
        nav(class='gnavi_flex')
          ul.flex
            li(class='li_h')
              a(href='board.html') 掲示板を見る
            li(class='li_h')
              a(href='#') 診断をする
            li
              a(href='') るぴなすの
                br
                | アプリについて
            li
              a(id='btn_login_a' href='login.php') ログインする
