doctype html
html(lang="ja")
     head
          include _head.pug
          link(rel="stylesheet" href="css/boardPage.css")
          title 掲示板ページ 内容見れるページ
     body 
          include _header.pug

          main