doctype html
html(lang="ja")
     head
          include _head.pug
          link(rel="stylesheet" href="css/index.css")
          link(rel="preconnect" href="https://fonts.gstatic.com")
          //- link(href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet")
          title るぴなす
     body 
          .bg 
               h1 あなたは1人じゃありません。

               .logo 
                    img(src="img/logo.png", alt="logo")

               p
                    | るぴなすは、予期せぬ妊娠をして悩む女性を助けたい。という思いからできたサービスです。
                    br
                    | 今の気持ちを専門の医師に相談し、今後について一緒に考えていきましょう。

               .btn_top
                    a(href="homepage.php") 
                         img(src="img/toTop.png", alt="top")