doctype html
html(lang="ja")
     head
          include _head.pug
          link(rel="stylesheet" href="css/mypage_edit.css")
          script(src='js/jquery-3.6.0.min.js')
          script(src="js/mypage_edit.js")  
          title プロフィール編集 
     body 
          include _header.pug
          main 
               h2 マイページ

               .profileBg
                    form(action="mypage_edit.pug", method="post") 
                         .iconWrap 
                              label 
                                   img(src="", alt="" class="icon_img")  
                                   input(type="file" name="file" class="img_font") 
                              p プロフィール写真を変更         
                         .profileWrap 
                              .name.form_left    
                                   label(for="name") 名前
                                   input(type="text" placeholder ="みーちゃん" name="name" id="name")
                              .age.form_left  
                                   label(for="age") 年齢
                                   input(type="text" placeholder ="18" maxlength="2" name="age" id="age") 
                              .gender.form_left 
                                   label 性別
                                   .gender_input
                                        input(type="radio" name="drone" id="male") 
                                        label(for="male") 男性
                                   .gender_input
                                        input(type="radio" name="drone" id="female")
                                        label(for="female") 女性
                              .introWrap
                                   label.form_left(for="sampleName") 自己紹介
                                   <textarea name="sampleName" id ="sampleName" placeholder="初めまして！彼氏が禿げてます。登録したばかりで分からないことが沢山ありますがよろしくお願いします。"></textarea>
                              .btnWrap 
                                   .cancel.btn
                                        input(type="reset" value="キャンセル") 
                                   .submit.btn
                                        input(type="submit" value="変更する")
                                   