doctype html
html(lang="ja")
     head
          include _head.pug
          link(rel="stylesheet" href="css/registration.css")
          title るぴなす-新規登録
     body 
          .bg
               include _header.pug
               //- div 
               //-      img(src="", alt="") 
               
          .acc
               .acc_form
                    form(action="registration.php") 
                         .acc_form_name.acc_form_margin
                              h2 表示名 
                              p 匿名の掲示板に表示されるニックネームです。
                              <input type="text" name="name" id="name" placeholder="例：みーちゃん" required>

                         .acc_form_name.acc_form_margin
                              h2 氏名(全角)
                              p こちらの氏名は公開されません。
                              <input type="text" name="first_name" id="first_name" placeholder="例：朝原　南" required>

                         .acc_form_name.acc_form_margin
                              h2 氏名カナ(全角)
                              p こちらの氏名は公開されません。
                              <input type="text" name="name_kara" id="name_kara" placeholder="例：アサハラ　ミナミ" required>

                         .acc_form_phoneNum.acc_form_margin
                              h2 生年月日
                              <input type="date" name="birthday" id="birthday" required>

                         .acc_form_phoneNum.acc_form_margin
                              h2 電話番号
                              p 半角数字(ハイフン「-」なし)で入力して下さい。
                              <input type="text" name="phoneNum" id="phoneNum" placeholder="例：12345678910" required>

                         .acc_form_phoneNum.acc_form_margin
                              h2 メールアドレス(半角英数字)
                              <input type="text" name="mail" id="mail" placeholder="例：mimimi0123@ecccomp.com" required>

                         .acc_form_phoneNum.acc_form_margin
                              h2 メールアドレス(確認)
                              <input type="text" name="mail_confirm" id="mail_confirm" placeholder="例：mimimi0123@ecccomp.com" required>

                         .acc_form_password.acc_form_margin
                              h2 パスワード
                              p ６文字以上の半角英数字で入力して下さい
                              <input type="text" name="password" id="password" placeholder="パスワード入力" required>

                         .acc_form_passwordConfirm.acc_form_margin
                              h2 パスワード(確認)
                              p ６文字以上の半角英数字で入力して下さい
                              <input type="text" name="password_confirm" id="password_confirm" placeholder="パスワード入力" required>

                         .acc_form_confirm.acc_form_margin
                              <input type="checkbox" id="confirm"/>
                              label(for="confirm") 「個人情報の取り扱いについて」と「るぴなすの利用規約」に同意する

                         .acc_form_btc
                              a(href="") 登録する

          footer 
               p &copy;Rupinasu All Rights Reserved. 
               